* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header {
    margin-top: 47px;
    margin-left: 42px;

}

.link-menu {
    font-weight: 400px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233d;
    margin-right: 32px;
    cursor: pointer;
}

.sign-up {
    background: #6fbf44;
    border: 1px solid #4cb536;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    width: 124px;
    height: 51px;
}

img {
    margin: 163px 0 0 123px;
    display: inline-block;
    
   
}

div {
    display: inline-block;
    
}

h1 {
    font-weight: 700px;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161a49;
    display: inline-block;
    

}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing:  0.5px;
    color: #4b505a;
    display: inline-block;
    
}

.learn-more {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #6fbf44;
    font-size: medium;
    display: inline-block;
}
@media screen and (max-width: 720px){
    header{
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;}
    div{
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }
   .sign-up{ position: relative;
left: 450px;
right: 15px;
top: 17px;
bottom: 752px;}
.link-menu{
    display: none;
    
}
h1{
   
    text-align: center;
   

  font-size: 30px;
line-height: 30px;
margin: 200px 55px 700px 55px;

width: 278px;
height: 60px;
    
   

}
p{
    text-align: center;
   

  font-size: 18px;
line-height: 33px;
margin: 213px 43px 422px 43px;

width: 278px;
height: 60px;
}
img{
    
    
width: 279.92px;
height: 268.93px;
}
    
}